<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Com.Nidec.Mes.GlobalMasterMaintenance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Com.Nidec.Mes.GlobalMasterMaintenance.Properties.Settings>
      <setting name="Standard" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Phantom" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Count" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Weight" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LINE_PER_PROCESSWORK_CONSTRAINT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MACHINE_PER_PROCESSWORK_CONSTRAINT" serializeAs="String">
        <value>False</value>
      </setting>
    </Com.Nidec.Mes.GlobalMasterMaintenance.Properties.Settings>
  </userSettings>
</configuration>